@charset "utf-8";

body {
    background-color: midnightblue;
}

h2 {
    color: antiquewhite;
    
    font-family: "ヒラギノ丸ゴProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", Meiryo, "MS Pゴシック", sans-serif;
    
    text-align: center;
}

table {
    background-color: darkgrey;
}

h3 {
    color: chocolate;
}

#info {
    color: chocolate;
}

.li {
    color: black;
}


